.columns {
	margin: 0 !important;
}

@media only screen and (max-width: 1215px) {
  iframe { width: 800px; }
  .youtube-video iframe {
    height: 450px;
  }
  #player { width: 800px; }
}

@media only screen and (max-width: 1023px) {
  iframe { width: 600px; }
  .youtube-video iframe {
    height: 337px;
  }
  #player { width: 600px; }
  .padding-sides {
    padding: 0px 30px;
  }
}

@media only screen and (max-width: 768px) {
  iframe { width: 400px; }
  .youtube-video iframe {
    height: 225px;
  }
  #player { width: 400px; }
  .padding-sides {
    padding: 0px 10px;
  }
  .left {
    margin-bottom: 0px !important;
  }
  .sub-content-block {
    text-align: left !important;
  }
  .details-list {
    justify-content: left !important;
  }
  .socials-list {
    padding: 0px !important;
  }
  h1 {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 479px) {
  iframe { width: 300px; }
  .youtube-video iframe {
    height: 169px;
  }
  #player { width: 300px; }
  .padding-sides {
    padding: 0px 10px;
  }
}

@media only screen and (min-width: 1216px) {
  #about .inner-container {
    padding-right: 280px;
  }
}

html {
  background-color: #494850;
}

body {
  background-color: #494850;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 24px;
  font-family: serif;
  color: #FECB2F;
}

h1 {
  font-size: 48px;
  font-family: serif;
}
h3 {
  font-family: serif;
  font-size: 32px;
}
h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

p, a {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 18px;
  /* font-style: oblique; */
  font-variant: normal;
  line-height: 20px;
  color: #FECB2F;
}

h2,
p,
i {
  color: #FFF987;
  text-shadow: 1px 1px #0b0b00;
}

p {
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 20px;
}

i {
  font-size: 20px;
  margin-right: 20px;
}

h2 {
  color: #FFF987;
  text-shadow: 1px 1px #0b0b00;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
  margin-left: 20px;
}

#bottom-footer .outer-container {
  display: flex;
  justify-content: center;
  z-index: 999;
  width: 100%;
}

.sub-container {
  padding: 80px 0px;
}
.content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.box-shadow {
  -webkit-box-shadow: 4px 10px 18px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 4px 10px 18px -1px rgba(0,0,0,0.65);
  box-shadow: 4px 10px 18px -1px rgba(0,0,0,0.65);
}

.grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition: 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.grow-shadow:hover {
  box-shadow: 4px 14px 22px -1px rgba(0,0,0,0.65);
}
